<div class="card">
  <div class="row">
    <div class="col-md-12 payment">
      <div class="title">
        <div class="row">
          <div class="col text-center">
            <h4>Make payment of &#x20B9; 3890.46</h4>
          </div>
        </div>
      </div>
      <div class="row border-top border-bottom">
        <div class="row main d-flex justify-content-center">
          <img class="images"
            src="https://cdn4.iconfinder.com/data/icons/payment-method/160/payment_method_card_visa-256.png">
          <img class="images"
            src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Mastercard-Curved.png">
          <img class="images"
            src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Paypal-Curved.png">
          <img class="images"
            src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/American-Express-Curved.png">
        </div>
      </div>
      <div class="row main">
        <div class="col">
          <form role="form">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="ccnumber">CREDIT CARD NUMBER</label>
                  <div class="input-group">
                    <input class="form-control" type="text" placeholder="0000 0000 0000 0000" autocomplete="email">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-credit-card"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">
                <div class="form-group"> <label for="ccnumber">EXPIRATION DATE</label>
                  <input type="tel" class="form-control" placeholder="MM / YY" /> </div>
              </div>
              <div class="col-md-5 pull-right">
                <div class="form-group"> <label>CV CODE</label> <input type="tel" class="form-control"
                    placeholder="CVC" /> </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>CARD HOLDER</label>
                  <input type="text" class="form-control" placeholder="Card Holder Name" /> </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <button class="btn btn-success">Confirm Payment</button>
        </div>
      </div>

    </div>
  </div>
</div>