.card {
  margin: auto;
  max-width: 500px;
  width: 50%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent
}

@media(max-width:767px) {
  .card {
    width: 90%;
    margin: 3vh auto
  }
}

.payment {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}


@media(max-width:767px) {
  .payment {
    padding: 4vh 0;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

.title {
  margin-bottom: 3vh
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%
}

.row {
  margin: 0
}

.title b {
  font-size: 1.5rem
}

.images {
  height: auto;
  width: 10%;
  margin: 1%;
}

@media(max-width:767px) {
  .images {
    width: 20%;
  }
}